<!doctype html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="basic.css" rel="stylesheet">
  </head>
  <body>
  <header>
  <h1><%= @app_name %></h1>
</header>
    <%= yield %>
    <footer>
    Copyright &copy; <%= Time.now.year %>  <%= @app_name %>
    </footer>
  </body>
</html>

