<h2>
  <%= @result["Title"] %>
  (<%= @result["Year"] %>)
</h2>
<div class="row-fluid">
<div class="span4 offset2">
<% if @result["Poster"].nil? || @result["Poster"] == "N/A" %>
  <img src="/images/default-poster.jpg" alt="No poster found" title="No poster found">
<% else %>
  <img src="<%= @result["Poster"] %>" alt="Movie poster for <%= @result["Title"] %>" title="Movie poster for <%= @result["Title"] %>">
<% end %>
</div>
<div class="span5">
<p>
  <%= @result["Plot"] %>
</p>
    Rating
    <%= @result["Rated"] %>
    Runtime
    <%= @result["Runtime"] %>
    Genre
    <%= @result["Genre"] %>
    IMDB Rating
    <%= @result["imdbRating"] %>
    Rotten Tomatoes Rating
    <%= @result["tomatoRating"] %>
    <%= "Actor" if @actors.size == 1 %>
    <%= "Actors" if @actors.size > 1 %>
    <ul>
      <% @actors.each do |actor| %>
        <li><%= actor %></li>
      <% end %>
    </ul>
    <%= "Director" if @directors.size == 1 %>
    <%= "Directors" if @directors.size > 1 %>
    <ul>
      <% @directors.each do |director| %>
        <li><%= director %></li>
      <% end %>
    </ul>
<% unless @results.empty? %>
  <h3>Related movies</h3>
  <%= erb :search_results %>
<% end %>
<% unless @query.nil? || @query.empty? %>
  <a href="/search?q=<%= URI.escape(@query) %>">
    Back to search results for <q><%= @query %></q>
  </a>
  </div>
</div>
<% end %>
