<h1>
  <%= @results['Title'] %>
  (<%= @results['Year'] %>)
</h1>
<img src="<%= @results['Poster'] %>" alt="Move Poster for <%= @results['Title']%>"/>
<dl>
<dt>
 Plot
</dt>
  <dd>
    <%= @results['Plot'] %>
  </dd>
<dt>
 Rated
</dt>
  <dd>
    <%= @results['Rated'] %>
  </dd>
<dt>
  Runtime
</dt>
<dd>
  <%= @results['Runtime'] %>
</dd>
<dt>
  Genre
</dt>
  <dd>
    <%= @results['Genre'] %>
  </dd>
<dt>
  imdb Rating
</dt>
  <dd>
    <%= @results['imdbRating'] %>
  </dd>
  <dt>
   <%= "Directors" if @directors.size == 1 %>  
   <%= "Director" if @directors.size > 1 %>
  </dt>
  <dd>
   <% @directors.each do |director| %>
    <li><%= director %></li>
    <% end %>
  </dd>
  <dt>
    Actors
  </dt>
  <dd>
   <% @actors.each do |actor| %>
    <li><%= actor %></li>
    <% end %>
  </dd>
</dl>
